<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Hind+Madurai:wght@300&family=Mukta&family=Titan+One&display=swap" rel="stylesheet">
    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <title>Sign Up</title>
    <style>
      .errorMessage{
        color:red;
        border: solid red 3px;
        border-radius: 1px;
      }
      .font{
        font-family: "Mukta";
        font-size: 115%;
      }
    </style>
</head>
<body>
    
    <div class="container mt-5 p-4 col-5 bg-light">
        <form action="signup" method="post">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" name="fname" class="form-control">
                <input type="text" aria-label="Last name" name="lname" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" name="username">Username</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" name="username">
                <div id="usernameHelp" class="form-text">Select a unique username</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text">We'll never share your email and phone number with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="pass1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="pass2">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck1">I agree terms and conditions</label>
            </div>
            {% for message in messages %}
            <div class="errorMessage m-3">
              <p class="text-center m-0 font">{{message}}</p>
            </div>
            {% endfor %}
            <!-- <div class="g-recaptcha" data-sitekey="6LdXU-YiAAAAAF0UIk6m94DwJ8g2xeYftr9dkWyf"></div> -->
            <button type="submit" class="btn btn-primary">Signup</button>
          </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
</body>
</html>